html, body {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
  background-color: #F9FAFD;
}

h1, h2, h3 {
  font-family: "futura-pt", sans-serif;
  text-align: center;
  color: #605856;  
}

h2 {
  color: #605856;
  margin-bottom: 1rem;
}
#header {
    font-family: "mazurquica-vf", sans-serif;
    font-variation-settings: "wght" 900;
}

/* ==== NAVBAR ==== */
.navContainer {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .1rem 5%;
}

.navLogo {
  font-size: 3rem;
  color: #48A9A6;
  font-family: black-pack-vf, sans-serif;
  font-variation-settings: "STRS" 0, "wdth" 50, "wght" 900;
}
.navLogo a, .navLogo a:visited {
    text-decoration: none;
    color: #48A9A6;
}
.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navButton {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navButton:hover {
  background-color: #B4B8C5;
  color: white;
  border-color: #B4B8C5;
}
#navToggle {
    display: none;
}
    /* ==== MOBILE CSS ==== */
.navContainer.mobile {
    display: none;
}

.navMobileContainer {
position: fixed;
top: 0;
right: 0;
width: 250px;
z-index: 999;
display: none;
flex-direction: column;
justify-content: flex-start;
align-content: flex-start;
height: 100%;
gap: 1em;
background-color: rgba(255, 255, 255, 0.26);
box-shadow: 0 4px 12px rgba(0,0,0,0.08);
backdrop-filter: blur(10px);
}
.navMobileContainer.mobile {
    display: flex;
}
.navMobileList {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    gap: 2em;
    height: 100%;
}
.navButton {
    gap: 3em;
}
#navToggleClose {
    display: block;
    font-size: 36pt;
}
/* ==== ABOUT SECTION ==== */

.aboutContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.aboutMessageContainer {
    padding-right: 1%;
}
.aboutImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 12px;
  display: block;    
  margin: auto;  
}
.aboutTitle {
    text-align: left;
}

/* ==== SKILLS SECTION ==== */
.skillContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    background-color: #fff;
    border-radius: 1em;
    gap: 1em;
    padding: 3em;
    overflow: auto;
    white-space: nowrap;
}
.skill {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skill:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border-radius: 1em;
    transform: scale(1.05);
}
.skill_icon {
    max-width: 100px;
    height: auto;
}
/* ==== EXPERIENCE ==== */
.experienceActive {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    background-color: #fff;
    border-radius: 1em;
    padding: 1em;

}
.experienceHeader {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    align-content: center;
    gap: 1em;

}
.experienceHeader:hover .experienceToggle{
    color: #48A9A6;
    transform: scale(1.05);
}
.experienceHeaderText {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.experienceLogo {
    max-width: auto;
    height: auto;
    border-radius: 1em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
#experiencePosition {
    color: #48A9A6;
}
#experienceDate {
    font-size: 8pt;
}
.experienceToggle {
    font-size: 28pt;
    background-color: #fff;
    border: none;
    transition: .2s ease-in-out;
    height: 15%;
    align-self: center;
}

.experienceDescription {
    display: flex;
    flex-direction: row;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    padding: 0 2%;
}

.experienceActive.active .experienceDescription {
    max-height: 1000px;
    padding: 2%;
}

.experienceToggle .bx-chevron-down {
    display: none;
}

.experienceActive.active .bx-chevron-right {
    display: none;
}

.experienceActive.active .bx-chevron-down {
    display: inline;
}

.experiencePicture {
    max-width: 300px;
    height: auto;
    border-radius: 1em;
}
.experienceCopy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    list-style: none;
    text-align: center;
}
.experienceCopy li:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border-radius: .5em;
}
/* ==== INTERESTS ==== */
.interestsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    gap: 3em;
}
.interestsCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    text-align: center;
    align-items: start;
    grid-auto-rows: min-content;
}
.interestsCard {
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    padding: 1em;
    min-height: 175px;
    height: fit-content;
}
.interestsHeader {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.interestsCard:hover {
    transform: scale(1.05);
}
#interestsIcon {
    font-size: 28pt;
    color: #48A9A6;
}
.interestsToggleButton {
    font-size: 24pt;
    background-color: #fff;
    border: none;
}
.interestsContent {
    max-height: 0;
    overflow: hidden;
    transition: .2s ease-in-out ;}

.interestsCard.expanded .interestsContent {
    max-height: 500px;
    padding-top: 0.5em; 
    padding-bottom: 0.5em;
}

.interestsToggleButton .toggle-up {
    display: none;
}

.interestsCard.expanded .interestsToggleButton .toggle-up {
    display: inline;
}

.interestsCard.expanded .interestsToggleButton .toggle-down {
    display: none;
}
.songContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
#songs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    align-content: center;
    justify-content: center;
}
.song{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    gap: .5em;
    border-radius: 1em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

}
.song:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transform: scale(1.05);

}
.songInformation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    text-align: center;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #48A9A6;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}
.songTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    position: relative;
}
.songArtist {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 0.9em;
}
.songArt {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    align-self: center;
}
.songDisclaimer {
    text-align: center;
    align-self: center;
    font-size: 8pt;
}

.spinning:hover {
    animation: spin 8s linear infinite;
}

@keyframes spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
/* ==== FOOTER ==== */

.contactContainer {
    text-align: center;
    padding: 2rem;
    background-color: #48A9A6;
    margin-top: 4rem;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.contactText {
    color: #fff;
}
.contactContainer a, .contactContainer a:visited {
    text-decoration: none;
    color: #fff;
}
.contactContainer a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}
.contactCopy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}
/* ==== Responsive Setting ==== */

@media screen and (max-width: 1300px) {
    /* ==== NAV BAR ==== */
    .navContainer {
        width: 100%;
        position: fixed;
        padding-right: 5%;
        box-sizing: border-box;
    }
    #navToggle {
        display: block;
        font-size: 36pt;
    }
    #navToggleClose {
        display: block;
        font-size: 36pt;
    }
    .navList {
        display: none;
    }
    /* ==== About Section ==== */    
    .aboutContainer {
        flex-direction: column;
        margin-top: 10%;
    }
    .aboutMessageContainer {
        padding-left: 1em;
        padding-right: 1em;
    }
    .aboutImage {
        margin-top: 1em;
    }

    /* ==== Skills ==== */
    .skillIcon {
        max-width: 100%;
    }

    .skill:hover {
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
        border-radius: 1em;
        transform: scale(1.05);
    }
    /* ==== Experiences ==== */
    .experienceDescription {
        flex-direction: column;
    }
    .experienceCopy {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .experiencePicture {
        justify-self: center;
        align-self: center;
    }
    #songs {
        align-items: stretch;
    }
    .songInformation {
        align-self: stretch;
    }
}
@media screen and (max-width: 1000px) {
    /* ==== Interests ==== */
    .songContainer {
        margin-left: 0%;
        margin-right: 0%;
    }
    #songs {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .song {
        height: fit-content;
    }
    .interestsCardContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    /* Makes Nav menu full screen at certain size */
    .navMobileContainer {
        width: 100%;
    } 
    /* ==== EXPERIENCES ==== */
    .experienceHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "logo button"
        "title title";
    }
    .experienceLogo {
        grid-area: logo;
    }
    .experienceToggle {
        grid-area: button;
    }
    .experienceHeaderText {
        grid-area: title;
    }
}