html, body {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

h1, h2, h3 {
  font-family: "futura-pt", sans-serif;
  text-align: center;
}

h2 {
  color: #CF2626;
  margin-bottom: 1rem;
}

/* ==== NAVBAR ==== */
.navbar {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

.nav-logo {
  font-size: 1.5rem;
  color: #CF2626;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color: #CF2626;
  color: white;
  border-color: #CF2626;
}

.container {
    display: grid;
}