body {
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:  #81A4CD;
}

.container {
    max-width: 25rem;
    margin: .25rem auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .3rem;
    text-align: center;
}
h1 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}
form {
    display: flex;
    justify-self: center;
    gap: 1rem
}
input {
    border-radius: .25rem;
}
button {
    border: none;
    background: #3E7CB1;
    color: #fff;
    border-radius: .25rem;
}
button:hover {
    background-color: #054A91;
}
#weatherResults {
    margin-top: 1.25rem;
    text-align: left;
}
#weatherResult h2 {
    text-align: center;
}
.results {
    width: 50%;
    margin: auto;
}
.weatherResult {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-wrap: nowrap;
}
.status-container {
    position: fixed;           
    top: 1rem;                 
    right: 1rem;
    max-width: 10rem;
    background-color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .3rem;
    text-align: center; 
}
.card-content {
    display: none;
    flex-direction: column;
}